body {
    font-family: 'Montserrat', serif;
}

:root {
    --primary-bg-color: #34495E;
    --white-bg-color: #f9fbfd;
    --start-node-bg-color: #d9ff00;
    --visited-node-bg-color: #3099c2;
    --destination-node-bg-color: #d9ff00;
    --blocked-node-bg-color: #000000;
    --path-node-bg-color: #e8fd6d;
    --a-hover-bg-color: #26d844;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    
}

.menu-items{
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.item-with-icon {
    padding: 10px 16px !important;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #34495E;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar a#visualize {
    background-color: var(--primary-bg-color);
    color: white;
}

.navbar a#visualize:hover {
    background-color: var(--a-hover-bg-color);
    font-weight: bold;
}

.icon {
    position: relative;
    top: 5px;
    left: 5px;
}

.custom-icon {
    position: relative;
    background-size: cover;
    display: inline-block;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
}

.icon-turtle {
    background-image: url("./assets/turtles\ 1.svg");
}

.icon-dog {
    background-image: url("./assets/dog\ 1.svg");
}

.icon-bolt {
    background-image: url("./assets/flash\ 1.svg");
}

.icon-speed {
    width: 20px;
    height: 20px;
}

.icon-item-speed{
    right: 5px !important;
    left: 0 !important;
}

table#matrix {
    margin: 10px auto;
    background: black;
    border: 1px solid #333;
    border-collapse: collapse;
}

td.node {
    width: 25px;
    height: 25px;
    background: white;
    border: 1px solid #000;
}

td.start-node {
    background: var(--start-node-bg-color);
    background-size: cover;
    background-image: url("./assets/icons8-running-rabbit-40.png");
}

td.visited-node {
    animation: gradientVisited 1000ms;
    border: 1px solid #FFF;
    background: radial-gradient(circle at center, rgb(125, 255, 147) 99%, #fff 100%, #fff 100%);
}

td.destination-node {
    background: var(--destination-node-bg-color);
    background-size: cover;
    background-image: url("./assets/icons8-carrot-40.png")
}

td.blocked-node {
    animation: gradientBlocked 100ms ease-in;
    background: var(--blocked-node-bg-color);
}

td.path-node {
    border: 1px solid #FFF;
    background: var(--path-node-bg-color);
    animation: gradientPath 10ms;
}

@keyframes gradientVisited {
    0% {
        background: radial-gradient(circle at center, rgba(2, 255, 149, 0) 0%, #fff 10%, #fff 100%);
    }
    25% {
        background: radial-gradient(circle at center, rgba(2, 255, 149, 0.3) 25%, #fff 35%, #fff 100%);
    }
    50% {
        background: radial-gradient(circle at center, rgba(2, 255, 149, 0.5) 50%, #fff 60%, #fff 100%);
    }
    75% {
        background: radial-gradient(circle at center, rgba(2, 255, 149, 0.8) 75%, #fff 85%, #fff 100%);
    }
    90% {
        background: radial-gradient(circle at center, rgb(67, 255, 224) 90%, #fff 98%, #fff 100%);
    }
    100% {
        color: #fff;
        background: radial-gradient(circle at center, rgba(2, 255, 149) 99%, #fff 100%, #fff 100%);
    }
}

@keyframes gradientPath {
    0% {
        background: linear-gradient(to right, rgba(255, 238, 4) 0%, #fff 10%, #fff 100%);
    }
    10% {
        background: linear-gradient(to right, rgba(255, 238, 4) 10%, #fff 20%, #fff 100%);
    }
    20% {
        background: linear-gradient(to right, rgba(255, 238, 4) 20%, #fff 30%, #fff 100%);
    }
    30% {
        background: linear-gradient(to right, rgba(255, 238, 4) 30%, #fff 40%, #fff 100%);
    }
    40% {
        background: linear-gradient(to right, rgba(255, 238, 4) 40%, #fff 50%, #fff 100%);
    }
    50% {
        background: linear-gradient(to right, rgba(255, 238, 4) 50%, #fff 60%, #fff 100%);
    }
    60% {
        background: linear-gradient(to right, rgba(255, 238, 4) 60%, #fff 70%, #fff 100%);
    }
    70% {
        background: linear-gradient(to right, rgba(255, 238, 4) 70%, #fff 80%, #fff 100%);
    }
    80% {
        background: linear-gradient(to right, rgba(255, 238, 4) 80%, #fff 90%, #fff 100%);
    }
    90% {
        background: linear-gradient(to right, rgba(255, 238, 4) 90%, #fff 98%, #fff 100%);
    }
    100% {
        color: #fff;
        background: linear-gradient(to right, rgba(255, 238, 4) 99%, #fff 100%, #fff 100%);
    }
}

@keyframes gradientBlocked {
    0% {
        background: radial-gradient(circle at center, var(--blocked-node-bg-color) 0%, #fff 33%, #fff 100%);
    }
    33% {
        background: radial-gradient(circle at center, var(--blocked-node-bg-color) 33%, #fff 66%, #fff 100%);
    }
    66% {
        background: radial-gradient(circle at center, var(--blocked-node-bg-color) 66%, #fff 99%, #fff 100%);
    }
    100% {
        color: #fff;
        background: radial-gradient(circle at center, var(--blocked-node-bg-color) 99%, #fff 100%, #fff 100%);
    }
}